@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center">
                                    <div class="bg-img mb-2 mb-xl-0 mr-3">
                                        <img class="img-fluid rounded" src="~/assets/img/avtar/02.jpg" alt="user">
                                    </div>
                                    <div class="page-title mb-2 mb-xl-0">
                                        <h1 class="mb-1">Good Morning, Sunil!</h1>
                                        <p>You have 7 essential tasks today, 8 messages and notifications to respond.</p>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center secondary-menu text-center">
                                        <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Todo list">
                                            <i class="fe fe-edit btn btn-icon text-primary"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Projects">
                                            <i class="fa fa-lightbulb-o btn btn-icon text-success"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Task">
                                            <i class="fa fa-check btn btn-icon text-warning"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Calendar">
                                            <i class="fa fa-calendar-o btn btn-icon text-cyan"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Analytics">
                                            <i class="fa fa-bar-chart-o btn btn-icon text-danger"></i>
                                        </a>
                                    </div>
                                    <div class="ml-xl-4 mt-xl-0 ml-0 mt-3 d-flex align-items-center">
                                        <a class="btn btn-warning mr-2" href="javascript:;">
                                            Add New Shift
                                        </a>
                                        <div class="dropdown">
                                            <a class="btn btn-primary" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Add New
                                            </a>
                                            <div class="dropdown-menu custom-dropdown dropdown-menu-right dropdown-menu-left-mobile p-4">
                                                <a class="dropdown-item" href="#"><i class="ti ti-files"></i>Add New Shift </a>
                                                <a class="dropdown-item" href="#"><i class="ti ti-layers-alt"></i>Add New Staff </a>
                                                <a class="dropdown-item" href="#"><i class="ti ti-files"></i>Add New Skill </a>
                                                <a class="dropdown-item" href="#"><i class="ti ti-id-badge"></i>Add New Production Matrix </a>
                                                <a class="dropdown-item" href="#"><i class="ti ti-id-badge"></i>Users </a>
                                                <a class="dropdown-item" href="#"><i class="ti ti-id-badge"></i>Add New Prodcut </a>
                                                <a class="dropdown-item" href="#"><i class="ti ti-id-badge"></i>Add New Product Categories </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                        </div>
                        <!-- Notification -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert border-0 alert-warning m-b-30 alert-dismissible fade show border-radius-none" role="alert">
                                    <strong>Holy guacamole!</strong> You should check in on some of those
                                    fields below.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="ti ti-close"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="card card-statistics">
                            <div class="row no-gutters">
                                <div class="col-xxl-3 col-lg-6">
                                    <div class="p-20 border-lg-right border-bottom border-xxl-bottom-0">
                                        <div class="d-flex m-b-10">
                                            <p class="mb-0 font-regular text-muted font-weight-bold">Total Products</p>
                                            <a class="mb-0 ml-auto font-weight-bold" href="#"><i class="ti ti-more-alt"></i> </a>
                                        </div>
                                        <div class="d-block d-sm-flex h-100 align-items-center">
                                            <div class="apexchart-wrapper">
                                                <div id="analytics7"></div>
                                            </div>
                                            <div class="statistics mt-3 mt-sm-0 ml-sm-auto text-center text-sm-right">
                                                <h3 class="mb-0"><i class="icon-arrow-up-circle"></i> 195</h3>
                                                <!-- <p>Master Count</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-lg-6">
                                    <div class="p-20 border-xxl-right border-bottom border-xxl-bottom-0">
                                        <div class="d-flex m-b-10">
                                            <p class="mb-0 font-regular text-muted font-weight-bold">Total Product Categories</p>
                                            <a class="mb-0 ml-auto font-weight-bold" href="#"><i class="ti ti-more-alt"></i> </a>
                                        </div>
                                        <div class="d-block d-sm-flex h-100 align-items-center">
                                            <div class="apexchart-wrapper">
                                                <div id="analytics8"></div>
                                            </div>
                                            <div class="statistics mt-3 mt-sm-0 ml-sm-auto text-center text-sm-right">
                                                <h3 class="mb-0"><i class="icon-arrow-up-circle"></i> 455</h3>
                                                <!-- <p>This month</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-lg-6">
                                    <div class="p-20 border-lg-right border-bottom border-lg-bottom-0">
                                        <div class="d-flex m-b-10">
                                            <p class="mb-0 font-regular text-muted font-weight-bold">Total Production</p>
                                            <a class="mb-0 ml-auto font-weight-bold" href="#"><i class="ti ti-more-alt"></i> </a>
                                        </div>
                                        <div class="d-block d-sm-flex h-100 align-items-center">
                                            <div class="apexchart-wrapper">
                                                <div id="analytics9"></div>
                                            </div>
                                            <div class="statistics mt-3 mt-sm-0 ml-sm-auto text-center text-sm-right">
                                                <h3 class="mb-0"><i class="icon-arrow-up-circle"></i>700</h3>
                                                <p>Avg. Production per day</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-lg-6">
                                    <div class="p-20">
                                        <div class="d-block d-sm-flex h-100 align-items-center">
                                            <div class="apexchart-wrapper">
                                                <div id="analytics10"></div>
                                            </div>
                                            <div class="statistics ml-sm-auto mt-4 mt-sm-0 pr-sm-5">
                                                <ul class="list-style-none p-0">
                                                    <li class="d-flex py-1">
                                                        <span><i class="fa fa-circle text-primary pr-2"></i> Total Staff</span> <span class="pl-2 font-weight-bold">792</span>
                                                    </li>
                                                    <li class="d-flex py-1"><span><i class="fa fa-circle text-warning pr-2"></i> Permanent Staff</span> <span class="pl-2 font-weight-bold">692</span></li>
                                                    <li class="d-flex py-1"><span><i class="fa fa-circle text-info pr-2"></i> Contractual Staff</span> <span class="pl-2 font-weight-bold">100</span></li>
                                                    <li class="d-flex py-1"><span><i class="fa fa-circle text-danger pr-2"></i> Absent Staff</span> <span class="pl-2 font-weight-bold">25</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card card-statistics">
                                    <div class="card-header d-sm-flex justify-content-between align-items-center">
                                        <div class="card-heading">
                                            <h4 class="card-title"> Production Schedule</h4>
                                        </div>
                                        <a class="btn btn-info mr-2" href="add-production.html">
                                            Add Schedule
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab tab-border">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active show" id="home-06-tab" data-toggle="tab" href="#home-06" role="tab" aria-controls="home-06" aria-selected="true"> <i class="ti ti-menu-alt"></i> List</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-06-tab" data-toggle="tab" href="#profile-06" role="tab" aria-controls="profile-06" aria-selected="false"><i class="ti ti-layers-alt"></i> Tiles </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="portfolio-06-tab" data-toggle="tab" href="#portfolio-06" role="tab" aria-controls="portfolio-06" aria-selected="false"><i class="ti ti-calendar"></i> Calendar </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade active show" id="home-06" role="tabpanel" aria-labelledby="home-06-tab">
                                                    <div class="datatable-wrapper table-responsive">
                                                        <table id="datatable" class="display compact table table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Production ID</th>
                                                                    <th>Product</th>
                                                                    <th>Product Model</th>
                                                                    <th>Product Quantity</th>
                                                                    <th>Allocated Staff</th>
                                                                    <th>Actual Allocated Staff</th>
                                                                    <th>Assigned Unit</th>
                                                                    <th>Date</th>
                                                                    <th>Shift</th>
                                                                    <th>Status</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25551</a></td>
                                                                    <td>ASTOR</td>
                                                                    <td>ASTOR RO+UV</td>
                                                                    <td>2500</td>
                                                                    <td>157</td>
                                                                    <td>157</td>
                                                                    <td>Unit 1</td>
                                                                    <td>18/12/2024</td>
                                                                    <td>9:30am - 5:30pm</td>
                                                                    <td class="text-center"><a href="javascript:;" class="font-20" data-toggle="tooltip" data-placement="top" title="Start Unit"><i class="fa fa-play-circle-o"></i></a></td>
                                                                    <td class="text-center"><button type="button" class="tabledit-edit-button btn btn-sm btn-info">Action</button></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25552</a></td>
                                                                    <td>ASTOR</td>
                                                                    <td>ASTOR RO</td>
                                                                    <td>2500</td>
                                                                    <td>109</td>
                                                                    <td>109</td>
                                                                    <td>Unit 2</td>
                                                                    <td>26/12/2024</td>
                                                                    <td>9:30am - 5:30pm</td>
                                                                    <td class="text-center"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning">Scheduled</span></td>
                                                                    <td class="text-center"><button type="button" class="tabledit-edit-button btn btn-sm btn-primary">Action</button></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25553</a></td>
                                                                    <td>AQUAFLO</td>
                                                                    <td>AQUAFLO DX</td>
                                                                    <td>1300</td>
                                                                    <td>95</td>
                                                                    <td>95</td>
                                                                    <td>Unit 1</td>
                                                                    <td>26/12/2024</td>
                                                                    <td>9:30am - 5:30pm</td>
                                                                    <td class="text-center"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning">Scheduled</span></td>
                                                                    <td class="text-center"><button type="button" class="tabledit-edit-button btn btn-sm btn-primary">Action</button></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25554</a></td>
                                                                    <td>REGAL</td>
                                                                    <td>REGAL RO+UV</td>
                                                                    <td>2500</td>
                                                                    <td>123</td>
                                                                    <td>123</td>
                                                                    <td>Unit 4</td>
                                                                    <td>26/12/2024</td>
                                                                    <td>9:30am - 5:30pm</td>
                                                                    <td class="text-center"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning">Scheduled</span></td>
                                                                    <td class="text-center"><button type="button" class="tabledit-edit-button btn btn-sm btn-primary">Action</button></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25555</a></td>
                                                                    <td>REGAL</td>
                                                                    <td>REGAL RO+MC</td>
                                                                    <td>2500</td>
                                                                    <td>109</td>
                                                                    <td>109</td>
                                                                    <td>Unit 3</td>
                                                                    <td>26/12/2024</td>
                                                                    <td>9:30am - 5:30pm</td>
                                                                    <td class="text-center"><span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning">Scheduled</span></td>
                                                                    <td class="text-center"><button type="button" class="tabledit-edit-button btn btn-sm btn-primary">Action</button></td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Position</th>
                                                                    <th>Office</th>
                                                                    <th>Age</th>
                                                                    <th>Start date</th>
                                                                    <th>Salary</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="profile-06" role="tabpanel" aria-labelledby="profile-06-tab">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-xxl-4 m-b-20">
                                                            <div class="card card-statistics h-100 mb-0">
                                                                <div class="card-header d-sm-flex justify-content-between align-items-center">
                                                                    <h4 class="card-title"><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25551</a></h4>
                                                                    <a href="javascript:;" class="font-20" data-toggle="tooltip" data-placement="top" title="Start Unit"><i class="fa fa-play-circle-o"></i></a>
                                                                </div>
                                                                <div class="card-body p-3">
                                                                    <div class="table-responsive">
                                                                        <table class="compact table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th width="30%">Product</th>
                                                                                    <td width="20%">ASTOR</td>
                                                                                    <th width="30%">Product Model</th>
                                                                                    <td width="20%">ASTOR RO+UV</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Product Quantity</th>
                                                                                    <td>2500</td>
                                                                                    <th>Allocated Staff</th>
                                                                                    <td>157</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Actual Allocated Staff</th>
                                                                                    <td>157</td>
                                                                                    <th>Assigned Unit</th>
                                                                                    <td>Unit 1</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Date</th>
                                                                                    <td>18/12/2024</td>
                                                                                    <th>Shift</th>
                                                                                    <td>9:30am - 5:30pm</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="text-right"><button type="button" class="tabledit-edit-button btn btn-sm btn-info">Action</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-xxl-4 m-b-20">
                                                            <div class="card card-statistics h-100 mb-0">
                                                                <div class="card-header d-sm-flex justify-content-between align-items-center">
                                                                    <h4 class="card-title"><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25552</a></h4>
                                                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning">Scheduled</span>
                                                                </div>
                                                                <div class="card-body p-3">
                                                                    <div class="table-responsive">
                                                                        <table class="compact table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th width="30%">Product</th>
                                                                                    <td width="20%">ASTOR</td>
                                                                                    <th width="30%">Product Model</th>
                                                                                    <td width="20%">ASTOR RO</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Product Quantity</th>
                                                                                    <td>2500</td>
                                                                                    <th>Allocated Staff</th>
                                                                                    <td>109</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Actual Allocated Staff</th>
                                                                                    <td>109</td>
                                                                                    <th>Assigned Unit</th>
                                                                                    <td>Unit 2</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Date</th>
                                                                                    <td>26/12/2024</td>
                                                                                    <th>Shift</th>
                                                                                    <td>9:30am - 5:30pm</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="text-right"><button type="button" class="tabledit-edit-button btn btn-sm btn-info">Action</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-xxl-4 m-b-20">
                                                            <div class="card card-statistics h-100 mb-0">
                                                                <div class="card-header d-sm-flex justify-content-between align-items-center">
                                                                    <h4 class="card-title"><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25553</a></h4>
                                                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning">Scheduled</span>
                                                                </div>
                                                                <div class="card-body p-3">
                                                                    <div class="table-responsive">
                                                                        <table class="compact table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th width="30%">Product</th>
                                                                                    <td width="20%">AQUAFLO</td>
                                                                                    <th width="30%">Product Model</th>
                                                                                    <td width="20%">AQUAFLO DX</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Product Quantity</th>
                                                                                    <td>1300</td>
                                                                                    <th>Allocated Staff</th>
                                                                                    <td>95</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Actual Allocated Staff</th>
                                                                                    <td>95</td>
                                                                                    <th>Assigned Unit</th>
                                                                                    <td>Unit 1</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Date</th>
                                                                                    <td>26/12/2024</td>
                                                                                    <th>Shift</th>
                                                                                    <td>9:30am - 5:30pm</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="text-right"><button type="button" class="tabledit-edit-button btn btn-sm btn-info">Action</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-xxl-4 m-b-20">
                                                            <div class="card card-statistics h-100 mb-0">
                                                                <div class="card-header d-sm-flex justify-content-between align-items-center">
                                                                    <h4 class="card-title"><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25554</a></h4>
                                                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning">Scheduled</span>
                                                                </div>
                                                                <div class="card-body p-3">
                                                                    <div class="table-responsive">
                                                                        <table class="compact table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th width="30%">Product</th>
                                                                                    <td width="20%">REGAL</td>
                                                                                    <th width="30%">Product Model</th>
                                                                                    <td width="20%">REGAL RO+UV</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Product Quantity</th>
                                                                                    <td>2500</td>
                                                                                    <th>Allocated Staff</th>
                                                                                    <td>123</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Actual Allocated Staff</th>
                                                                                    <td>123</td>
                                                                                    <th>Assigned Unit</th>
                                                                                    <td>Unit 4</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Date</th>
                                                                                    <td>26/12/2024</td>
                                                                                    <th>Shift</th>
                                                                                    <td>9:30am - 5:30pm</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="text-right"><button type="button" class="tabledit-edit-button btn btn-sm btn-info">Action</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-xxl-4 m-b-20">
                                                            <div class="card card-statistics h-100 mb-0">
                                                                <div class="card-header d-sm-flex justify-content-between align-items-center">
                                                                    <h4 class="card-title"><a href="production-detail.html" data-toggle="tooltip" title="View Details">MP25555</a></h4>
                                                                    <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-warning">Scheduled</span>
                                                                </div>
                                                                <div class="card-body p-3">
                                                                    <div class="table-responsive">
                                                                        <table class="compact table">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th width="30%">Product</th>
                                                                                    <td width="20%">REGAL</td>
                                                                                    <th width="30%">Product Model</th>
                                                                                    <td width="20%">REGAL RO+MC</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Product Quantity</th>
                                                                                    <td>2500</td>
                                                                                    <th>Allocated Staff</th>
                                                                                    <td>109</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Actual Allocated Staff</th>
                                                                                    <td>109</td>
                                                                                    <th>Assigned Unit</th>
                                                                                    <td>Unit 3</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Date</th>
                                                                                    <td>26/12/2024</td>
                                                                                    <th>Shift</th>
                                                                                    <td>9:30am - 5:30pm</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="text-right"><button type="button" class="tabledit-edit-button btn btn-sm btn-info">Action</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="portfolio-06" role="tabpanel" aria-labelledby="portfolio-06-tab">
                                                    <p>We also know those epic stories, those modern-day legends surrounding the early failures of such supremely successful folks as Sunil Jordan and Bill Gates. We can look a bit further back in time to Albert Einstein or even further back to Abraham Lincoln. Success is something of which we all want more.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row hidden">
                            <div class="col-xxl-5 m-b-30">
                                <div class="card card-statistics h-100 mb-0">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="card-heading">
                                            <h4 class="card-title">Assembly Line</h4>
                                        </div>
                                        <div class="dropdown">
                                            <a class="p-2" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-circle"></i>
                                            </a>
                                            <div class="dropdown-menu custom-dropdown dropdown-menu-right p-4">
                                                <h6 class="mb-1">Action</h6>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-file-o pr-2"></i>View reports</a>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-edit pr-2"></i>Edit reports</a>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-bar-chart-o pr-2"></i>Statistics</a>
                                                <h6 class="mb-1 mt-3">Export</h6>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-file-pdf-o pr-2"></i>Export to PDF</a>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-file-excel-o pr-2"></i>Export to CSV</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <h5 class="mb-0">Assembly Line 1</h5>
                                            </div>
                                            <div class="col-12 col-md-6 text-right">
                                                <button type="button" class="btn btn-badge btn-primary">
                                                    Add New Shift
                                                </button>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="progress my-3">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-top my-4"></div>
                                        <div class="row">
                                            <div class="col-12 col-md-6 mb-2">
                                                <h5 class="mb-0">Assembly Line 2</h5>
                                                <h6 class="mb-0">Shift 1 (9:30am - 5:30pm)</h6>
                                            </div>
                                            <div class="col-12 col-md-6 text-right mb-2">
                                                <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">In Progress</span>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4 mt-2">
                                                <h5 class="mb-0">Total Production: 700</h5>
                                            </div>
                                            <div class="col-12 col-md-4 mt-2">
                                                <h6 class="mb-0">Assgined Staff: 65</h6>
                                            </div>
                                        </div>
                                        <div class="border-top my-4"></div>
                                        <div class="row">
                                            <div class="col-12 col-md-6 mb-2">
                                                <h5 class="mb-0">Assembly Line 3</h5>
                                                <h6 class="mb-0">Shift 1 (9:30am - 5:30pm)</h6>
                                            </div>
                                            <div class="col-12 col-md-6 text-right mb-2">
                                                <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">In Progress</span>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4 mt-2">
                                                <h5 class="mb-0">Total Production: 700</h5>
                                            </div>
                                            <div class="col-12 col-md-4 mt-2">
                                                <h6 class="mb-0">Assgined Staff: 65</h6>
                                            </div>
                                        </div>
                                        <div class="border-top my-4"></div>
                                        <div class="row">
                                            <div class="col-12 col-md-6 mb-2">
                                                <h5 class="mb-0">Assembly Line 4</h5>
                                                <h6 class="mb-0">Shift 1 (9:30am - 5:30pm)</h6>
                                            </div>
                                            <div class="col-12 col-md-6 text-right mb-2">
                                                <span class="mr-2 mb-2 mr-sm-0 mb-sm-0 badge badge-pill badge-info">In Progress</span>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4 mt-2">
                                                <h5 class="mb-0">Total Production: 700</h5>
                                            </div>
                                            <div class="col-12 col-md-4 mt-2">
                                                <h6 class="mb-0">Assgined Staff: 65</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-7 m-b-30">
                                <div class="card card-statistics h-100 mb-0">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="card-heading">
                                            <h4 class="card-title">Assembly Line Activity</h4>
                                        </div>
                                        <div class="dropdown">
                                            <a class="p-2" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-more-horizontal"></i>
                                            </a>
                                            <div class="dropdown-menu custom-dropdown dropdown-menu-right p-4">
                                                <h6 class="mb-1">Action</h6>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-file-o pr-2"></i>View reports</a>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-edit pr-2"></i>Edit reports</a>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-bar-chart-o pr-2"></i>Statistics</a>
                                                <h6 class="mb-1 mt-3">Export</h6>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-file-pdf-o pr-2"></i>Export to PDF</a>
                                                <a class="dropdown-item" href="javascript:;"><i class="fa-fw fa fa-file-excel-o pr-2"></i>Export to CSV</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="activity">
                                            <li class="activity-item primary">
                                                <div class="activity-info">
                                                    <h5 class="mb-0">Station 1 </h5>
                                                    <span>Raw Material</span>
                                                </div>
                                            </li>
                                            <li class="activity-item info">
                                                <div class="activity-info">
                                                    <h5 class="mb-0">Station 2 </h5>
                                                    <span>Pre-filter and Pump Assembly</span>
                                                </div>
                                            </li>
                                            <li class="activity-item success">
                                                <div class="activity-info">
                                                    <h5 class="mb-0">Station 3 </h5>
                                                    <span>Membrane Housing and Tubing</span>
                                                </div>
                                            </li>
                                            <li class="activity-item danger">
                                                <div class="activity-info">
                                                    <h5 class="mb-0">Station 4 </h5>
                                                    <span>Control Panel and Electronics Integration</span>
                                                </div>
                                            </li>
                                            <li class="activity-item warning">
                                                <div class="activity-info">
                                                    <h5 class="mb-0">Station 5 </h5>
                                                    <span>Final Assembly and Sealing</span>
                                                </div>
                                            </li>
                                            <li class="activity-item info">
                                                <div class="activity-info">
                                                    <h5 class="mb-0">Station 6 </h5>
                                                    <span>Quality Testing</span>
                                                </div>
                                            </li>
                                            <li class="activity-item success">
                                                <div class="activity-info">
                                                    <h5 class="mb-0">Station 6 </h5>
                                                    <span>Packaging</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-lg-12">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Shift Plan Calendar</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div id='external-events'>
                                                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#eventModal">Schedule New Shift</button>
                                                    <p class="mt-3">
                                                        Drag and drop your event or click in the calendar.
                                                    </p>
                                                    <div class='fc-event fc-event-primary' data-color="fc-event-primary"><span></span> Modal 2 Production</div>
                                                    <div class='fc-event fc-event-warning' data-color="fc-event-warning"><span></span> Modal 6 Production</div>
                                                    <div class='fc-event fc-event-danger' data-color="fc-event-danger"><span></span> Modal 4 Production</div>
                                                    <div class='fc-event fc-event-success' data-color="fc-event-success"><span></span> Modal 1 Production</div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                        <label class="form-check-label" for="defaultCheck1">
                                                            Remove After Drop
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="event-calendar">
                                                    <div id="event-calendar"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- event Modal -->
                        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="verticalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="verticalCenterTitle">Add New Shift</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="modelemail">Shift Name</label>
                                                <input type="email" class="form-control" id="modelemail">
                                            </div>
                                            <div class="form-group">
                                                <label>Assembly Line</label>
                                                <select class="form-control">
                                                    <option>Line 1</option>
                                                    <option>Line 2</option>
                                                    <option>line 3</option>
                                                    <option>line $</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>No Of Production</label>
                                                <select class="form-control">
                                                    <option>650</option>
                                                    <option>700</option>
                                                    <option>1000</option>
                                                    <option>1500</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>No Of Staff</label>
                                                <select class="form-control">
                                                    <option>65</option>
                                                    <option>75</option>
                                                    <option>100</option>
                                                    <option>120</option>
                                                </select>
                                            </div>


                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>